body
	{
		color: #595959;
		background-color: #F0F8FF;
	}
img
	{
		width:105%;
	}
h1
	{
		text-align: center;
		font-family: Times New Roman, serif;
		margin-top: -20px;
		margin-left: 230px;
	}
h2
	{
		margin-left: 635px;
		font-size: 23px; 
	}

p, b
	{
		margin-left: 270px;
		margin-right: 30px;
		text-align: center;
	}
.rouge
	{
		color: red;
	}
ol
	{
		margin-left: 270px;
		margin-right: 30px;
		text-align: left;
	}
#titrepuce
	{
		margin-left: -760px;
	}
.catégorie 
	{
		background-color: white;
		height: 500px;
		display: block;
		float: left;
		width: 213px;
		border: 2px solid; 
		border-color: #D9D9D9;
		padding: 10px;
		position: sticky;
		top: 0;
	}
.catégorie ul
	{
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 450px;
		width: 225px;
	}
.catégorie ul li a 
	{
		display: block;
		text-align: center;
		padding: 12px 62px;
		width: 80px;
		line-height: 20px;
		color: #ccc;
		border: 1px solid;
		text-decoration: none;
		margin-left: 0px;
	}
.catégorie ul li a:hover 
	{
		background-color: #D9D9D9;
		color: white;
		transition: 0.5s
	}
#fond-sous-catég
	{
		background-color: #white;
		color: #D9D9D9;
		line-height: 10px
	}
#fond-sous-catég2
	{
		background-color: #white;
		color: #D9D9D9;
		line-height: 15px
	}
#fond-sous-catég:hover, #fond-sous-catég2:hover
	{
		background-color: #D9D9D9;
		color: grey;
		transition: 0.5s
	}